<div>
  <p class="playback" value="{{playback}}">{{playback}}</p>
  <input type="button" class="start_button_details" value="Start">
  <input type="button" class="stop_button_details" value="Stop">
  <button><a href="/delete/{{id}}/{{songId}}">Delete version</a></button>
</div>

