/* #E639B7
#AE1C27
#903925
#FE9124 */ 


/* GENERAL */

html, body { 
  margin:0;
  padding:0;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  color:black;
  min-height: 100vh;
  background-color:black;
}

a{
  text-decoration: none;
  color:white;
  font-family: 'Orbitron', sans-serif;
}

button, input{
  font-family: 'Orbitron', sans-serif;
}

button {
  border-radius: 10px;
}

.main{
  flex: 1;
}

.bg-img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* NAV BAR */

.navbar{
  display: flex;
  background-color:#1F1C23;
  justify-content: space-around;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.navbar ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li{
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: 0;
}

/* HOME PAGE */

.home-container{
  background-image: url("../images/bg9.jpg");
  color:white;  
}

.home-container-login{
  background-image: url("../images/bg5.jpg");
  color:white;  
}

.home-content-container{
  text-align: center;
  display:flex;
  flex-direction:column
}

.typed-title{
  height:25vh;
}

.btn-home{
  background-color:white;
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
}

.btn-home a{
  color:black;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.label-file {
  cursor: pointer;
  color:black
}

.input-file {
  display: none;
}

/* EDIT PAGE */

.edit-page{
  display:flex;
  justify-content: flex-end;
  height:100vh;
  width:100vw;
}

.edit-content-container{
  padding: 48px 10px 0 10px;
  color:white;
  display:flex;
  flex-direction: column;
  width:25%;
  background-color:rgba(255, 255, 255, 0.3);
  justify-content: space-around;
  align-items:center;
  text-align:center;
}

.edit-content-container h1{
  font-size:0.9em;
  font-weight: bold
}

.playback-container, .convolver-container{
  display:flex;
  width:100%;
  align-items:center;
}

.playback-rate-control, .convolver-gain-control{
  width:80%;
}

.playback-rate-value, .convolver-gain-value{
  width:20%;
}

.creative-dashboard > div, .music-dashboard div {
  padding:5% 0;
}

.controls{
  display:flex;
}

.controls input {
  margin:4%;
}

.btn-link{
  padding:3%
}


/* SHOW PAGE */
.show-page-container{
  color:white;
  display:flex;
  flex-wrap:wrap;
  width: 100%;
  text-align:center;
  padding: 48px 0 30px 0;
}

.show-page-container h1{
  font-size:1.5em;
  width:100%;
  text-align:center;
  margin:5%
}

.show-song-container{
  display: flex;
  flex-direction: column;
  width:29%;
  margin:1%;
  background-color:rgb(47, 43, 43);
  padding: 1%;
}

.show-song-container:hover{
  background-color:#0c0fce;
}

@media (max-width:500px) {
  .show-song-container{
    width:44%;
    margin:2%;
  }
}

.edit-song-button {
  width:100%;
  display:flex;
  justify-content: center;
  padding:2% 0;
}

.edit-song-button button {
  padding:1%;
  width:20%;
}

.edit-song-button a {
  color:black
}

.song-img {
  display:flex;
  justify-content: center;
}

.song-img img {
  width:80%
}

.controls-song{
  display:flex;
  justify-content: center;
}

.controls-song a {
  color:black;
}

.start_button_details, #start_button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 30px;
  border-color: transparent transparent transparent white;
  cursor: pointer;
  border-style: solid;
  border-width: 20px 0 20px 30px;
}

.stop_button_details, #stop_button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 40px;
  border-color: transparent transparent transparent white;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 30px;
}

.delete-btn{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.delete-btn a {
  color: black;
}

/* LOGIN PAGE & SIGN-UP PAGE */

.login-page{
  background-image: url("../images/bg10.jpg");
  color:white;  
}

.login-page div, .signup-page div {
  display:flex;
  flex-direction: column;
  padding:2%;
}

.btn-sign {
  margin:4%;
  padding:2%
}

.signup-page{
  background-image: url("../images/bg11.jpg");
  color:white;  
}


/* USER PROFILE PAGE */

.user-profile-page{
  color:white;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  padding: 48px 0px 0 0px;
}

.user-profile-page > h1{
  width:100%;
  text-align: center;
  padding-top:1%;
}

.song-user-container{
  display:flex;
  flex-direction:column;
  width:40%;
  margin:1%;
  align-items: center;
  text-align:center;
  background-color: rgb(47, 43, 43);
  margin:5%;
  font-size: 0.7em;
  padding:2% 0
}

.song-user-container a {
  font-size: 1.5em;
}

.song-user-container:hover{
  background-color: #0c0fce;
}

@media (max-width:500px) {
  .song-user-container{
    width:100%;
    background-color: #0c0fce;
    padding:2%;
  }
}

.song-links{
  display:flex;
  justify-content: space-around;
  width:100%;
}

/* INDEX PAGE */

.index-page{
  color:white;
  padding: 48px 0px 0 0px;
  display:flex;
  flex-wrap: wrap;
  width:96%;
  text-align:center;
  padding-left:4%
}

.user-container{
  display:flex;
  flex-direction: column;
  width:30%;
  color:black;
  background-color:white;
  height:30%;
  margin: 2% 1% 2% 1%
}

@media (max-width:500px) {
  .user-container{
    width: 45%
  }
}

.user-container a {
  color:black
}

.user-container h1{
  color:#0c0fce
}

@media (min-width:500px) {
  .user-container:hover{
    background-color:#350822;
    color:white
  }

  .user-container:hover a {
    color:white
  }
}
/* OTHER */

#visualiser-canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.canvas-container{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

.content-container{
  position:absolute;
  z-index:0;
  left:12px;
  top:10px;
  color: white;
}