<div class="canvas-container"> 
  <canvas id="analyser-canvas"></canvas>
</div>

<div class="content-container">
  <p class="controls">
    <input type="button" id="start_button" value="Start">
    <input type="button" id="stop_button" value="Stop">
    <input type="button" id="screenshot_button" value="Screenshot">
  </p>

  <img class="screenshot" src="" alt="">
</div>

<script src="javascript/analyser.js"></script>