<div class="canvas-container">
  <canvas id="bars-canvas"></canvas>
</div>

<div class="content-container">
  <p class="controls">
    <input type="button" id="start_button2" value="Start">
    &nbsp; &nbsp;
    <input type="button" id="stop_button2" value="Stop">
  </p>

  <img class="screenshot" src="" alt="">

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="javascript/bars.js"></script>