<div class="canvas-container"> 
  <canvas id="combine-bar-canvas"></canvas>
</div>

<div class="content-container">
  <p class="controls">
    <input type="button" id="start_button2" value="Start">
    <input type="button" id="stop_button2" value="Stop">
    <input type="button" id="screenshot_button2" value="Screenshot">
    <input class="playback-rate-control" type="range" min="0" max="5" step="0.05" value="1">
    <span class="playback-rate-value">1.0</span>
  </p>

  <img class="screenshot" src="" alt="">
</div>

<script src="javascript/combineBars.js"></script>