<button class="play">Play</button>
<button class="stop">Stop</button>

<h2>Set playback rate</h2>
<input class="playback-rate-control" type="range" min="0" max="5" step="0.05" value="1">
<span class="playback-rate-value">1.0</span>
<script src="javascript/analyser.js"></script>
<script src="javascript/decode.js"></script>