<div class="{{#if login}}home-container-login {{else}}home-container{{/if}} main bg-img">
  <div class="home-content-container">
    <div class="typed-title">
      <h1><span class="typed"></span></h1>
    </div>
    
    <div>
      {{#if currentUser}}
      <h2>search</h2>
      <form action="/" method="post">
          <input class="queryInput" type="text" name="searched">
          <input class="duration" type="number" name="duration" value="60" style="display: none">
          <select name="sort" style="display: none">
            <option value="score" selected>Sort</option>       
          </select>
          <button class="btn-home queryBtn">search</button>
      </form>
      <br>

      <h2>upload</h2>
      <div class="form-container"></div>
        <form action="/add" method="POST" enctype="multipart/form-data">
          <div class="upload-container">
            <input id="file"type="file" name="song" class="input-file">
            <label for="file" class="label-file btn-home">upload a song</label>
            <button type="submit" class="btn-home">done</button>
          </div>
        </form>
      </div>

      {{else}}
      <button class="btn-home"><a href="/login">Log in</a></button>
      <button class="btn-home"><a href="/signup">Sign up</a></button>

      {{/if}}
    </div>
  </div>
</div>


<script>
  var typed = new Typed('.typed', {
  strings: ["Sound Exp", "Sound Editing Experience"],
  typeSpeed: 30,
  });

  var typed = new Typed(".typed", options);
</script>