<h1>Sound Editing Experience</h1>
<div id="error" style="color:red"></div>


<h2>SEARCH</h2>
<form action="/" method="post">
    <input class="queryInput" type="text" name="searched">
    <button class="queryBtn">SEARCH</button>
</form>
<br>

<h2>UPLOAD</h2>
<div class="form-container"></div>
  <form action="/add" method="POST" enctype="multipart/form-data">
    <input type="file" name="song">
    <button type="submit">Done!</button>
  </form>
</div>

<a href="/profile/{{currentUser._id}}">Profile</a>

<a href="/index">All profiles</a>
