<form action="/" method="post">
    <input class="queryInput" type="text" name="searched" value="{{query}}">
    <button class="queryBtn">SEARCH MORE</button>
</form>

<div id="searchResults">
    <h2>Num results:  {{data.count}} </h2>
    {{#each results}}
        {{> freesoundResult}}
    {{/each}}
</div>