<div class="canvas-container"> 
  <canvas id="visualiser-canvas"></canvas>
</div>

<div class="content-container">
  <p class="controls">
    <input type="button" id="start_button" value="Start">
    <input type="button" id="stop_button" value="Stop">
    <input type="button" id="screenshot_button" value="Screenshot">
    <input class="playback-rate-control" type="range" min="0" max="5" step="0.05" value="1">
    <span class="playback-rate-value">1.0</span>
    <select name="type-visual" class="type-visual">
      <option value="lines" default>lines</option>
      <option value="bars">bars</option>
    </select>
  </p>

  <img class="screenshot" src="" alt="">
</div>

<script src="/javascript/visualiser.js"></script>