<div class="index-page">
  {{#each users}}
    <div class="user-container">
      <h1>{{username}}</h1>
      <h2>{{bio}}</h2>
      <a href="/profile/{{_id}}">see profile</a>
    </div>
  {{/each}}
</div>

